#footer-main {
    padding-top: 15px;
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}

#workskills1{
    padding-top: 15px;
}

#workskills2{
    padding-top: 25px;
    padding-bottom: 25px;
}